---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import {SITE_TITLE} from '../config'

---

<Layout title='404' description='page not found'>
	<div class='flex flex-col justify-center items-center'>
		<h1>Error 404</h1>
		<div>
			Oops Page not found
		</div>
	</div>
</Layout>
