---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf()
);
---
<Layout title='Blog Page' description='Where I write my blogs'>
		<main>
			<section>
				<ul>
					{
						posts.map((post) => (
							<li>
								<time datetime={post.frontmatter.date}>
									{new Date(post.frontmatter.date).toLocaleDateString('en-us', {
										year: 'numeric',
										month: 'short',
										day: 'numeric',
									})}
								</time>
								<a href={post.url}>{post.frontmatter.title}</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
	</Layout>
