---
const today = new Date();
---

<footer class='text-zinc-500 border-t'>
	&copy; {today.getFullYear()} Sean Riley Hawkins. All rights reserved.
	Built with Astro
	<span class='text-sm'>Design inspired by <a href='https://www.craftz.dog/'>Craftz Dog</a></span>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
