---
import DropDownMenu from './DropDownMenu'
import LightDarkToggle from './LightDarkToggle'

const links=[
	{label: 'Home', href:'/'},
	{label: 'Works', href:'/works'},
	{label: 'Contact', href:'/#findMe'},
	{label: 'About', href:'/#bio'}
]

const allPosts = await Astro.glob('../pages/blog/*.md')
const allTags = new Set<string>()

allPosts.map(post =>{
		post.frontmatter.tags &&
		post.frontmatter.tags.map((tag: string) => allTags.add(tag))
	})

---
<header>
	<>
		<div class=' bg-neutral-200 shadow-md p-4 rounded-md mx-auto max-w-3xl'>
			<nav class=' flex flex-row justify-evenly items-center'>
			<a href='/' class='text-neutral-600 hover:text-sky-700 hover:shadow-xl '>Sean</a>
			<a href='/blog' class='hidden md:flex text-neutral-600 hover:text-zinc-400 hover:shadow-xl '>Blogs</a>
			<DropDownMenu client:visible tags={Array.from(allTags)} />
			{
				links.map((linker) => (
				<a href={linker.href} class='hidden md:flex hover:text-zinc-400 hover:shadow-xl text-neutral-600'>{linker.label}</a>
				))
			}
			</nav>
			<LightDarkToggle client:visible />
		</div>
	</>
</header>
